<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Narendra Nath Joshi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/assets/css/main.css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="/static/images/avatar.jpg" alt="" /></span>
					<h3 id="logo"><a href="#">Narendra Nath Joshi</a></h3>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#about" class="active">About Me</a></li>
						<li><a href="#skills">Skills</a></li>
						<li><a href="#education">Education</a></li>
						<li><a href="#experience">Experience</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#achievements">Achievements</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a target="_blank" href="https://github.com/narendranathjoshi" class="icon fa-2x fa-github"><span class="label">Github</span></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/narendranathjoshi" class="icon fa-2x fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a target="_blank" href="mailto:{{email}}" class="icon fa-2x fa-envelope"><span class="label">Email</span></a></li>
						<!--<li><a target="_blank" href="/apps" class="icon fa-4x fa-android"><span class="label">My Apps</span></a></li>-->
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">

						<!-- other -->
							<section id="other">
								<div class="container">
                                    <a target="_blank" href="/blog">BLOG</a>
                                    <!-- &middot; <a target="_blank" href="/apps">APPS</a>-->
								</div>
							</section>

                        <!-- about -->
							<section id="about">
								<div class="container">
									<header class="major">
										<h2>Narendra Nath Joshi</h2>
										<p>{{ head_bar|safe }}</p>
									</header>
									<h3>Interests</h3>
									<p>Data Mining, Machine Learning, Artificial Intelligence, Natural Language Processing, Information Retrieval, Search Engines</p>

                                    <!--<h3>I also write <a href="/apps" style="color: green">Android Apps</a></h3>-->

                                    <a target="_blank" href="/resume" class="button special icon fa-download">Get My Resume</a>
								</div>
							</section>

						<!-- skills -->
							<section id="skills">
								<div class="container">
									<h3>Skills</h3>
									<ul class="feature-icons">
										{% for skill in skills %}
										<li class="fa-{{skill.fa_string}}">{{skill.title}}</li>
										{% endfor %}
									</ul>
								</div>
							</section>

						<!-- education -->
							<section id="education">
								<div class="container">
									<h3>Education</h3>
									<div class="features">
										{% for education in educations %}
										<article>
											<a href="#" class="image"><img src="{{education.image}}" alt="{{education.institution}}" /></a>
											<div class="inner">
												<header>
													<h4>{{education.degree}} ({{education.start_date.year}}-{{education.end_date.year}})</h4>
													<p>{{education.institution}}
													<br>
													GPA/Percentage: {{education.gpa}}</p>
												</header>
												<p>{{education.relevant_courses}}</p>
											</div>
										</article>
										{% endfor %}
									</div>
								</div>
							</section>

						<!-- Experience-->
							<section id="experience">
								<div class="container">
									<h3>Experience</h3>
									<div class="features">
										{% for experience in experiences %}
										<header>
											<h4>{{experience.position}} at {{experience.organization}}</h4>
											{% if experience.is_current %}
											<p>since {{experience.start_date.month}}/{{experience.start_date.year}}</p>
											{% else %}
											<p>{{experience.start_date.month}}/{{experience.start_date.year}} - {{experience.end_date.month}}/{{experience.end_date.year}}</p>
											{% endif %}
										</header>
										<p>{{experience.short_description}}</p>
										{% endfor %}
									</div>
								</div>
							</section>

                        <!-- projects-->
							<section id="projects">
								<div class="container">
									<h3>Projects</h3>
									<div class="features">
										{% for project in projects %}
										<header>
											<h4>{{project.title}}</h4>
											{% if project.institution %}
											<p>since {{project.institution.institution}}</p>
											{% else %}
											<p>{{project.organization.organization}}</p>
											{% endif %}
                                            <h5>
                                                {% for skill in project.skills.all %}
                                                    {{skill.title}},
                                                {% endfor %}
                                            </h5>
										</header>
										<p>{{project.short_description}}</p>
										{% endfor %}
									</div>
								</div>
							</section>

						<!-- achievements -->
							<section id="achievements">
								<div class="container">
									<h3>Achievements</h3>
									{% for achievement in achievements %}
									<header>
										<h4>{{achievement.what}}</h4>
										<p>{{achievement.where}}</p>
									</header>
									<p>{{achievement.short_description}}</p>
									{% endfor %}
								</div>
							</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; nnjoshi.co All rights reserved.</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                <li>Photo: <a href="">Prafulla Pallal</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollzer.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/assets/js/main.js"></script>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-72371348-1', 'auto');
                ga('send', 'pageview');

            </script>
	</body>
</html>