<!DOCTYPE HTML>
<!--
	Striped by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/blog/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/blog/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/blog/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Content -->
			<div id="content">
				<div class="inner">
                    {% block content %}{% endblock %}
				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="/blog">BLOG</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<!--<li class="current"><a href="#">Latest Post</a></li>-->
							<li><a href="/blog">All Posts</a></li>
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="get" action="/blog/search">
							<input type="text" class="text" name="q" placeholder="Search" {% if q %}value="{{ q }}"{% endif %}/>
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>Narendra Nath Joshi<br></strong>Read about me <a href="/">here</a>
							</p>
						</div>
					</section>

				<!-- Recent Posts -->
					<section class="box recent-posts">
						<header>
							<h2>Recent Posts</h2>
						</header>
						<ul>
                            {% for post in recent_posts %}
							<li><a href="/blog/post/{{post.slug}}">{{post.title}}</a></li>
                            {% endfor %}
						</ul>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; <a href="/">nnjoshi.co</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/static/blog/assets/js/jquery.min.js"></script>
			<script src="/static/blog/assets/js/skel.min.js"></script>
			<script src="/static/blog/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/blog/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/blog/assets/js/main.js"></script>
    {% block js %}{% endblock %}

	</body>
</html>