<!DOCTYPE html>
<html>
	<head>
		<title>Title Here</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	    <style type="text/css">
	    	body {
				font-family: 'Julius Sans One', sans-serif;
	    	}

	    	.box {
	    		
	    	}
		</style>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 text-center">
				<h1>Happy Valentine's Day <small>(The Simple Page)</small></h1>
				<hr>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 text-center">
				<h2>Sanjana Shankar, My Sanjana Shankar</h2>
				<hr>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5 text-right">
				<h3>
					Will you be my Valentine?<br><br> 
					You. Who is smart. Who is pretty. Who is slightly weird.<br><br> 
					You. Who is intelligent. Who is sensible. Who has always for me cheered.<br><br> 
					You. Who is romantic. At times, who is so unromantic. Who is funny.<br><br> 
					You. Who is cheerful. Who is encouraging. Many a time, who has made my cloudy day sunny.<br><br> 
					You. Who makes fun of me. But I don't mind. Who annoys me. But I don't mind. Who is sometimes mean to me. But I don't mind.<br><br> 
					You. Whom I want to play games with. Whom I want to cook for. Whom I want to talk to. Because you're one of a kind.<br><br> 
					You. In whose hug I'd bury myself. Whom I'd wrap my arms around and snuggle. I'm so glad this is all true.<br><br> 
					Do you wanna know why?<br><br> 
					Because I love you.<br><br> 
					Will you be my Valentine?<br><br> 
					So much, that I (a dynamic web page freak, a dude who does Django overkill on a daily basis) hard-coded every single thing on this page.<br><br> 
					You ask me why? Some things in life are static and never change.<br><br> 
					Sanjana Shankar, Happy Valentine's Day!<br><br> 
				</h3>
				<hr>
			</div>
			<div class="col-sm-5 text-left">
				<img src="/static/other/img/hpbg.gif" width="80%" style="border-radius: 100px">
				<hr>
				<img src="/static/other/img/collage.png" width="80%" style="border-radius: 100px">
				<hr>
				<h2> - Your Nari</h2>
			</div>
			<div class="col-sm-1"></div>
		</div>

	</body>
</html>